.cycleParent .cycleLengthLabel {
	border: 1px solid transparent;
}

.cycleParent .cycleStartLabel {
	border: 1px solid transparent;
}

.cycleParent.cycle .cycleLengthLabel {
	border: 1px solid yellow;
}

.cycleParent.minCycle .cycleLengthLabel {
	border: 1px solid green;
}

.cycleParent.cycleStart .cycleStartLabel {
	border: 1px solid green;
}

.cycleParent td {
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.cycleParent td.cycleStart {
	background-color: gold;
}
.cycleParent td.cycleEnd {
	background-color: gold;
}

.cycleParent td.tortice {
	background-color: green;
}

.cycleParent td.hare {
	background-color: saddlebrown;
}

.cycleParent td.hare {
	background: linear-gradient(135deg, green, saddlebrown);
}
